.form {
    background-image: url(/public/forms/background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 1rem;
}


.input {
  background-color: rgba(238,132,30, 0.3);
  border-radius: 4px;
  border: 1px solid #fff;
  width: 100%;
  height: 32px;
  margin: 8px;
}

.input::placeholder{
  font-weight: lighter;
  color: #fff;
  padding: 8px;
}

h1 {
  color: #FA90F5;
  font-size: x-large;
}

h3 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: lighter;
}

p {
    margin-top: 4px;
    font-weight: bold;
}

button {
  background-color: #EE841E;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  margin-top: 8px;
  border: none;
  cursor: pointer;
  animation: pular 1s ease infinite alternate;
}

@keyframes pular {
  0% { transform: scale(1); } 
  100% { transform: scale(1.1); } 
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


#telefone {
  width: 45%;
}
#perfil {
  width: 40%;
}

#div-form {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    align-items: center;
    
}

#icons img {

 height: 2.5rem;
}

#perfil #telefone {
  width: 24.3vw;
}

#mensagem {
  width: 100%;
  height: 100%;
  resize: none; /* Impede que o usuário redimensione o textarea */
  box-sizing: border-box;
}


