section {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
}

#social img{
  width: 1rem;
  margin-left: 1rem;
  
}


@media (max-width: 640px) {
  section {
    display: flex;
    flex-direction: column;
  }
  #social {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
}